[submodule "daogenerator"]
	path = daogenerator
	url = https://bitbucket.org/lduparc/daogenerator-android.git
[submodule "mutex"]
	path = mutex
	url = https://github.com/codlab/android_process_mutex.git
